/* style.css */


/* color variables at the root level */
:root {
    --general-text-color: #F4F1DE;  /* Creamier white for better contrast */
    --link-color: #F4A261;  /* Soft muted orange for links */
    --hover-color: #E76F51;  /* A more muted red for hover states */
    --active-color: #2A9D8F;  /* A teal-ish green for active state */
    --header-border-color: #BCA77E;  /* A rustic gold for header border */
    --subtitle-color: #8E44AD;  /* A darker retro purple for subtitles */
    --loading-text-color: #F4F1DE;  /* Same as general text to maintain consistency */
    --text-shadow-color: rgba(0, 0, 0, 0.5);  /* Solid black but softer */
    --hover-shadow-color: rgba(0, 0, 0, 0.6);  /* Slightly darker shadow on hover */
    --active-shadow-color: rgba(0, 0, 0, 0.6);  /* Slightly darker shadow on active */
    --progress-bar-color: #8E44AD;  /* Match with subtitle for consistency */
}



/* Basic Reset */
body,
h1,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

@keyframes shiftDown {
    0% {
        background-position: 48% 10%;
    }

    50% {
        background-position: 52% 72%;
    }

    100% {
        background-position: 48% 10%;
    }
}

@keyframes colorChange {
    0% {
        background-color: rgba(0, 0, 0, 0.2);
    }

    50% {
        background-color: rgba(0, 0, 0, 0.3);
    }

    100% {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

@keyframes fadeImage {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.7;
    }

    /* Adjusted to a less drastic change */
}

/* Define the noise animation */
@keyframes noiseAnimation {
    0% {
        opacity: 0.05;
    }
    100% {
        opacity: 0.15;
    }
}


body {
    background-color: rgba(0, 0, 0, 1.0);
    font-family: 'Press Start 2P', cursive;
    color: var(--general-text-color);
    text-align: center;
    background-image: url('sotk.jpg');
    background-attachment: fixed;
    /* for a simple parallax effect */
    animation: shiftDown 120s infinite;

    background-size: 100% auto;
    /* Set width to 90% of the container, height will be auto to maintain aspect ratio */
    background-repeat: no-repeat;
    /* Prevent tiling */

    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

body::before {
    background-color: rgba(0, 0, 0, 0.2);
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url('semi_transparent_pixel_pattern.png');
    background-repeat: repeat;
    animation: fadeImage 12s infinite, colorChange 11s infinite;
    /* Adding the fadeImage animation here */
}


body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    /* Below the loading screen but above everything else */
    background-image: url('transparent_noise.png');
    opacity: 0.1;
    pointer-events: none;
    /* Important so it doesn't interfere with clicks */
    background-repeat: repeat;
    animation: noiseAnimation 5s infinite alternate; /* Apply the animation */
}

/* Base style for links */
a {
    color: var(--link-color);
    text-decoration: none;
    letter-spacing: 2px;
    /* Increases spacing between letters */
    transition: all 0.3s ease;
    /* Transition for all changes */
    text-shadow: 1px 1px 5px var(--text-shadow-color); /* Initial text shadow */
}

/* Hover state */
a:hover {
    color: var(--hover-color);
    text-decoration: underline;
    /* Underline on hover */
    text-shadow: 1px 1px 5px var(--hover-shadow-color),  /* Additional layer of shadow for hover */
    0 0 5px var(--hover-color);
}

/* Active state */
a:active {
    color: var(--active-color);
    text-shadow: 1px 1px 5px var(--active-shadow-color),  /* Additional layer of shadow for active */
    0 0 5px var(--active-color);
}


ul {
    list-style-type: none;
}

h1 {
    font-size: 2.5em;
    /* Make the main title more dominant */
    margin-bottom: 10px;
    /* Adjust the space beneath the main title */
}

h2 {
    font-size: 1.5em;
    /* Size for the subtitle */
    margin-bottom: 20px;
    /* Space beneath the subtitle */
    color: var(--subtitle-color);
    /* Hot Pink, for a pastel neon look */
    text-shadow: 2px 2px 4px var(--text-shadow-color);
}

header p {
    font-size: 1.1em;
    margin: 0 auto;
    /* Centering the text if the parent's width is restricted */
    max-width: 800px;
    /* Consistent with the other max-widths we set before */
    padding-bottom: 30px;
    /* A bit of space at the bottom for visual spacing */
}

/* For the main content sections, let's adjust spacing and alignment */
main {
    padding: 30px 0;
    /* Provide a consistent padding around the main content */
    padding-bottom: 0%; /* change this for scrollbar */
}

section {
    margin-bottom: 40px;
    /* Increase spacing between sections */
}

/* Left align the section content for easier reading */
section h1,
section p,
section ul {
    text-align: left;
    max-width: 800px;
    /* Setting a max width for optimal reading */
    margin-left: auto;
    margin-right: auto;
}

/* Adjust list item for improved visuals */
li {
    margin: 15px 0;
    /* Increase the spacing a bit */
    font-size: 1.1em;
    /* Slightly larger list items for readability */
}

/* Consider changing the color of the header to make it distinct */
header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    /* Slightly transparent black for differentiation */
    border-bottom: 3px solid var(--header-border-color);
    /* Add a bottom border for visual separation */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    /* A little shadow for depth */
    padding-top: 10px;
}


.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    /* Make it a bit more transparent */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    /* Make sure it's above everything else */
}

.loader-content {
    text-align: center;
    position: relative;
    /* Added relative positioning for the parent */
}

.pixel-progress-bar {
    position: absolute;
    /* Set to absolute so we can fix its position within the parent */
    left: 0;
    /* Fixed position on the left edge */
    width: 20px;
    /* Start width will be 0 */
    height: 20px;
    border: 2px solid #FFFFFF;
    background: var(--progress-bar-color);
    animation: loadingAnimation 3.1s infinite;
}

@keyframes loadingAnimation {
    0% {
        width: 0;
    }

    100% {
        width: 275px;
    }
}

.loading-text {
    font-family: 'Press Start 2P', cursive;
    color: var(--loading-text-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    /* Pure Green to pop on dark loading screen */
    margin-top: 40px;
}