/* style.css */

/* Basic Reset */
body, h1, p, ul, li, a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

@keyframes subtleShift {
    0% { background-position: 0 0; }
    50% { background-position: 20px 20px; }
    100% { background-position: 0 0; }
}

@keyframes colorChange {
    0% { background-color: #000; }
    50% { background-color: #111; }
    100% { background-color: #000; }
}

@keyframes fadeImage {
    0%, 100%   {opacity: 1;}
    50%  {opacity: 0.7;}  /* Adjusted to a less drastic change */
}


body {
    background-color: #000;
    font-family: 'Press Start 2P', cursive;
    color: #FFD700; /* Gold color to simulate old game text */
    text-align: center;
    background-image: url('path_to_a_pixelated_bg.jpg');
    background-repeat: repeat;
    background-attachment: fixed; /* for a simple parallax effect */
    animation: subtleShift 10s infinite, colorChange 11s infinite;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url('path_to_semi_transparent_pixel_pattern.png');
    background-repeat: repeat;
    animation: fadeImage 12s infinite; /* Adding the fadeImage animation here */
}


body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999; /* Below the loading screen but above everything else */
    background-image: url('path_to_transparent_noise.png');
    opacity: 0.1;
    pointer-events: none;  /* Important so it doesn't interfere with clicks */
    background-repeat: repeat;
}

a {
    color: #FF4500; /* Retro Orange */
    text-decoration: none;
    transition: color 0.3s ease;
    text-shadow: 1px 1px 5px rgba(255, 70, 0, 0.75);  /* Same orange color with some transparency */
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 2.5em;  /* Make the main title more dominant */
    margin-bottom: 10px;  /* Adjust the space beneath the main title */
}

h2 {
    font-size: 1.5em;  /* Size for the subtitle */
    margin-bottom: 20px;  /* Space beneath the subtitle */
    color: #FFA500;  /* Slight change in color for distinction (this is a lighter shade of the gold color) */
    text-shadow: 1px 1px 5px rgba(255, 165, 0, 0.75); /* Same style as links, but adjusted for this color */
}

header p {
    font-size: 1.1em;
    margin: 0 auto;  /* Centering the text if the parent's width is restricted */
    max-width: 800px;  /* Consistent with the other max-widths we set before */
    padding-bottom: 30px;  /* A bit of space at the bottom for visual spacing */
}

/* For the main content sections, let's adjust spacing and alignment */
main {
    padding: 30px 0; /* Provide a consistent padding around the main content */
    padding-bottom: 100vh;
}

section {
    margin-bottom: 40px; /* Increase spacing between sections */
}

/* Left align the section content for easier reading */
section h1, 
section p, 
section ul {
    text-align: left;
    max-width: 800px; /* Setting a max width for optimal reading */
    margin-left: auto;
    margin-right: auto;
}

/* Adjust list item for improved visuals */
li {
    margin: 15px 0; /* Increase the spacing a bit */
    font-size: 1.1em; /* Slightly larger list items for readability */
}

/* Consider changing the color of the header to make it distinct */
header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8); /* Slightly transparent black for differentiation */
    border-bottom: 3px solid #FF4500; /* Add a bottom border for visual separation */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* A little shadow for depth */
}


.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9); /* semi-transparent black */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Make sure it's above everything else */
}

.loader-content {
    text-align: center;
    position: relative;  /* Added relative positioning for the parent */
}

.pixel-progress-bar {
    position: absolute;  /* Set to absolute so we can fix its position within the parent */
    left: 0;            /* Fixed position on the left edge */
    width: 20px;            /* Start width will be 0 */
    height: 20px;
    border: 2px solid #FFFFFF;
    background: #FF4500;
    animation: loadingAnimation 3.1s infinite;
}

@keyframes loadingAnimation {
    0% { width: 0; }
    100% { width: 275px; }
}

.loading-text {
    font-family: 'Press Start 2P', cursive;
    color: #FFFFFF;
    margin-top: 40px;
}